body {
  font-family: "Copperplate";
  background-color: #CDCDCD;
  min-height: 100vh; 
}

a {
	text-decoration: none;
}

a.navbar-brand {
	font-size: 30px;
	font-family: Copperplate;
}
